# Ignore .env file
.env

# Ignore acme.json for Traefik certificates
acme.json

# Ignore log files
*.log

# Ignore Docker-related files
docker-compose.override.yml
.dockerignore

# Ignore node_modules and other dependency directories
node_modules/
bower_components/

# Ignore build directories
dist/
build/
.tmp/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore editor/project files
.vscode/
.idea/
*.iml
